__pycache__
parser.out
parsetab.py
parsetab.pyc
src/tdutils/generate/auto/
src/tl/generate/auto/
compile_commands.json
src/crypto/block/block-auto.cpp
src/crypto/block/block-auto.h
src/crypto/smartcont/auto/
test/regression-tests.cache/
*.swp
**/*build*/

# Visual Studio specific
.vs
CMakeSettings.json

# CLion specific
.idea